@charset "UTF-8";
/* CSS Document */

body {
	background: url(../images/login.jpg) no-repeat #e9f0f2 center -60px;
	color: #4c4c4c;
	height: 100%;
	width: 100%;
	font-size: 14px;
}
html { width:100%; height: 100%; overflow: hidden; }
* { margin: 0; padding: 0;font-family: 'Microsoft Yahei',Arial,Verdana,sans-serif; }


.loginbox { width: 258px; padding: 0 0 0 160px; height:230px; margin:350px auto 0; }
.loginbox input,.loginbtn { color: #999999; margin: 28px auto 0; height:38px; line-height:38px;  width:326px; padding:0 5px; border: 0 none; box-sizing:border-box; }
.loginbox input.usersty,.loginbox input.pwsty { border:1px solid #ccc;}
.loginbtn { background: url(../images/loginbtn.jpg) no-repeat; height:39px; display: block; }
.loginbtn:hover { opacity: 0.8; cursor:pointer; }


@media screen and (max-width: 1440px) {
	body { background-position: center -100px;  }
    .loginbox { margin:310px auto 0; }
	
}