@g-table-header-bg-color: #f8f8f9;
@g-table-header-font-color: #515a6e;
@g-table-border-color:#e8eaec;
@g-table-tr-hover-bg-color:#ebf7ff;
@g-scrollbar-color: #C7DFF7;
@g-wrap-border-color:#0B61A4;
@g-text-border-color:#e8eaec;
@g-select-border-outer-wrap-color:#dddddd;

@g-html-design-input-text-border-color:#e8eaec;
@g-html-design-input-text-background-color: #f7f9fb;

/*https://htmlcolorcodes.com/zh/yanse-biao/bianping-hua-sheji-yanse-biao/*/
/*石榴*/
@g-pomegranate-color-v01:#F9EBEA;
@g-pomegranate-color-v02:#F2D7D5;
@g-pomegranate-color-v03:#E6B0AA;
@g-pomegranate-color-v04:#D98880;
@g-pomegranate-color-v05:#CD6155;
@g-pomegranate-color-v06:#C0392B;
@g-pomegranate-color-v07:#A93226;
@g-pomegranate-color-v08:#922B21;
@g-pomegranate-color-v09:#7B241C;
@g-pomegranate-color-v10:#641E16;
/*混凝土*/
@g-concrete-color-v01:#F4F6F6;
@g-concrete-color-v02:#EAEDED;
@g-concrete-color-v03:#D5DBDB;
@g-concrete-color-v04:#BFC9CA;
@g-concrete-color-v05:#AAB7B8;
@g-concrete-color-v06:#95A5A6;
@g-concrete-color-v07:#839192;
@g-concrete-color-v08:#717D7E;
@g-concrete-color-v09:#5F6A6A;
@g-concrete-color-v10:#4D5656;
/*向日葵*/
@g-sunflower-color-v01:#FEF9E7;
@g-sunflower-color-v02:#FCF3CF;
@g-sunflower-color-v03:#F9E79F;
@g-sunflower-color-v04:#F7DC6F;
@g-sunflower-color-v05:#F4D03F;
@g-sunflower-color-v06:#F1C40F;
@g-sunflower-color-v07:#D4AC0D;
@g-sunflower-color-v08:#B7950B;
@g-sunflower-color-v09:#9A7D0A;
@g-sunflower-color-v10:#7D6608;
/*绿松石*/
@g-turquoise-color-v01:#E8F8F5;
@g-turquoise-color-v02:#D1F2EB;
@g-turquoise-color-v03:#A3E4D7;
@g-turquoise-color-v04:#76D7C4;
@g-turquoise-color-v05:#48C9B0;
@g-turquoise-color-v06:#1ABC9C;
@g-turquoise-color-v07:#17A589;
@g-turquoise-color-v08:#148F77;
@g-turquoise-color-v09:#117864;
@g-turquoise-color-v10:#0E6251;
/*河蓝*/
@g-peter-river-color-v01:#EBF5FB;
@g-peter-river-color-v02:#D6EAF8;
@g-peter-river-color-v03:#AED6F1;
@g-peter-river-color-v04:#85C1E9;
@g-peter-river-color-v05:#5DADE2;
@g-peter-river-color-v06:#3498DB;
@g-peter-river-color-v07:#2E86C1;
@g-peter-river-color-v08:#2874A6;
@g-peter-river-color-v09:#21618C;
@g-peter-river-color-v10:#1B4F72;