<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="GeneralLib" th:with="urlts=${'V2'}" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>JBuild4D-Cloud</title>
    <script type="text/javascript" th:src="@{/Js/External/JQuery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/Js/External/VUE-2.6.10/vue.js}"></script>
    <script type="text/javascript" th:src="@{/Js/External/IView-3.X/dist/iview.min.js}"></script>
    <script type="text/javascript" th:src="@{/Js/External/JQuery-UI-1.12.1/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/Js/External/ZTree-3.5.40/js/jquery.ztree.all.js}"></script>
    <!--<script type="text/javascript" th:src="@{/Js/T3P/polyfill.min.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/Js/T3P/perfect-scrollbar-14/perfect-scrollbar.js}"></script>-->
    <script type="text/javascript" th:src="@{/Js/JBuild4DCLib.js(urlts=${urlts})}"></script>
    <!--<script type="text/javascript" th:src="@{/Js/VueEXComponent.js(urlts=${urlts})}"></script>-->
    <script type="text/javascript" th:src="@{/Js/UIEXComponent.js(urlts=${urlts})}"></script>
</th:block>
<th:block th:fragment="ThemesLib" th:with="theme=${'Themes/Default'},urlts=${'V1'}" >
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/Css/JBuild4DC.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/IView-3.X/iview.css(theme=${theme},urlts=${urlts})}" />
    <!--<link rel="stylesheet" type="text/css" th:href="@{/Js/T3P/perfect-scrollbar-14/perfect-scrollbar.css(theme=${theme},urlts=${urlts})}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/JQueryUI/jquery-ui.css(theme=${theme},urlts=${urlts})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{theme}/ZTree/zTreeStyle/zTreeStyle.css(theme=${theme},urlts=${urlts})}" />
</th:block>