<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <style>.right-outer-wrap-c div {
        font-size: 12px
    }</style>
</head>
<body>
<div id="appList" class="list-2column">
    <div class="left-outer-wrap" style="width:385px;top: 10px;bottom: 10px;left: 10px">
        <div class="inner-wrap iv-list-page-wrap" style="padding:10px;margin-top: 8px;margin-bottom: 8px;height: auto">
            <div class="list-simple-search-wrap" id="list-simple-search-wrap" style="border-width:0;">
                <table class="ls-table">
                    <colgroup>
                        <col style="">
                        <col style="width:80px">
                    </colgroup>
                    <tr class="ls-table-row">
                        <td>
                            <i-select v-model="selectedDataSourceId" @on-change="changeDataSource" style="width:360px">
                                <i-option v-for="item in dataSource" :value="item.id" :key="item.id">{{ item.caption }}[{{ item.databaseName }}]</i-option>
                            </i-select>
                        </td>
                    </tr>
                    <tr class="ls-table-row">
                        <td>
                            <i-input v-model="searchTableName" placeholder=""
                                     @on-change="searchTable"></i-input>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="list-button-wrap" class="list-button-outer-wrap">
                <div style="clear:both"></div>
            </div>
            <i-table :height="listHeight" stripe border :columns="columnsConfig" :data="tableData" class="iv-list-table"
                     :highlight-row="true" @on-selection-change="selectionChange"></i-table>
            <div style="float:right" id="list-pager-wrap">
                <page @on-change="changePage" :current.sync="pageNum" :page-size="pageSize" show-total
                      :total="pageTotal"></page>
            </div>
        </div>
    </div>
    <div class="right-outer-wrap" style="padding:10px;left:410px;top: 10px;bottom: 10px;right: 10px">
        <spin size="large" fix v-if="codeIsGenerateing"></spin>
        <card :bordered="false" style="margin-bottom:10px"><p slot="title">参数设置</p>
            <row>
                <i-col span="21">
                    <row>
                        <i-col span="2" style="text-align:center;padding-top:6px">表名：</i-col>
                        <i-col span="10">
                            <i-input v-model="formValidate.tableName"></i-input>
                        </i-col>
                        <i-col span="3" style="text-align:center;padding-top:6px">包名类型：</i-col>
                        <i-col span="4">
                            <i-select v-model="formValidate.packageType" @on-change="changePackage" style="width:90%">
                                <i-option v-for="item in package" :value="item.name" :key="item.name">{{ item.name }}</i-option>
                            </i-select>
                        </i-col>
                        <i-col span="5">
                            <i-select v-model="formValidate.packageLevel2Name">
                                <i-option v-for="item in selectedPackage.packageLevel2BOList" :value="item.value" :key="item.value">{{ item.value }}</i-option>
                            </i-select>
                        </i-col>
                    </row>
                    <row>
                        <i-col span="2" style="text-align:center"></i-col>
                        <i-col span="22" style="margin-bottom:14px">

                        </i-col>
                    </row>
                    <row>
                        <i-col span="2" style="text-align:center;padding-top:6px">排序字段：</i-col>
                        <i-col span="10">
                            <i-input v-model="formValidate.orderFieldName"></i-input>
                        </i-col>
                        <i-col span="3" style="text-align:center;padding-top:6px">状态字段：</i-col>
                        <i-col span="9">
                            <i-input v-model="formValidate.statusFieldName"></i-input>
                        </i-col>
                    </row>
                </i-col>
                <i-col span="3" style="text-align:center">
                    <i-button type="success" @click="beginGenerateCode()" icon="md-checkmark-circle">生 成</i-button>
                </i-col>
            </row>
        </card>
        <tabs type="line" size="small">
            <tab-pane label="Entity"><textarea name="txtAreaCode" id="txtAreaEntity" style="width:100%">{{generateCode.EntityContent}}</textarea>
            </tab-pane>
            <tab-pane label="EntityWithBLOB"><textarea name="txtAreaCode" id="txtAreaEntityWithBLOB" style="width:100%">{{generateCode.EntityWithBLOBContent}}</textarea>
            </tab-pane>
            <tab-pane label="Dao"><textarea name="txtAreaCode" id="txtAreaDao" style="width:100%">{{generateCode.DaoContent}}</textarea>
            </tab-pane>
            <tab-pane label="GeneralMapper"><textarea name="txtAreaCode" id="txtAreaMapperAC" style="width:100%">{{generateCode.MapperACContent}}</textarea>
            </tab-pane>
            <tab-pane label="ExtendMapper"><textarea name="txtAreaCode" id="txtAreaMapperEX" style="width:100%">{{generateCode.MapperEXContent}}</textarea>
            </tab-pane>
            <tab-pane label="IService"><textarea name="txtAreaCode" id="txtAreaIService" style="width:100%">{{generateCode.IServiceContent}}</textarea>
            </tab-pane>
            <tab-pane label="代码段"><textarea name="txtAreaCode" id="txtAreaListJsp" style="width:100%">{{generateCode.CodeFragmentContent}}</textarea>
            </tab-pane>
            <tab-pane label="列表页"><textarea name="txtAreaCode" id="txtAreaDetailJsp"
                                            style="width:100%">参考开发示例</textarea></tab-pane>
            <tab-pane label="详细页"><textarea name="txtAreaCode" style="width:100%">参考开发示例</textarea></tab-pane>
        </tabs>
    </div>
</div>
<script>var appList = new Vue({
    el: "#appList",
    mounted: function () {
        this.bindDataSource();
        this.bindPackage();
        window.setTimeout(function () {
            appList.listHeight = ListPageUtility.GetGeneralPageHeight(-56);
            $("[name='txtAreaCode']").css("height", appList.listHeight - 160);
        }, 500);
    },
    data: {
        codeIsGenerateing: false,
        acInterface:{
            getDataSourceConfigUrl:"/Rest/DataSource/GetConfig",
            getPackageConfigUrl:"/Rest/Package/GetConfig",
            getTableListUrl:"/Rest/CodeGenerate/GetListData",
            getTableFieldsUrl:"/Rest/CodeGenerate/GetTableFields",
            codeGenerateUrl:"/Rest/CodeGenerate/GetTableGenerateCode"
        },
        dataSource:[],
        selectedDataSourceId:"",
        package:[],
        selectedPackage:{
            packageLevel2BOList:[]
        },
        formValidate: {
            tableName: "",
            packageType: "",
            packageLevel2Name: "",
            orderFieldName: "",
            statusFieldName: ""
        },
        generateCode: {
            EntityContent: "",
            DaoContent: "",
            MapperACContent: "",
            MapperEXContent: "",
            IServiceContent: "",
            ServiceImplContent: "",
            EntityWithBLOBContent: "",
            CodeFragmentContent: ""
        },
        <!--List-->
        idFieldName: "TableName",
        /*searchCondition: {
            tableName: {
                value: "",
                type: SearchUtility.SearchFieldType.StringType
            }
        },*/
        searchTableName:"",
        columnsConfig: [
            {
                title: '表名',
                key: 'TableName'
            }, {
                title: '操作',
                key: 'TableName',
                width: 80,
                align: "center",
                render: function (h, params) {
                    return h('div', {class: "list-row-button-wrap"}, [
                        h('div', {
                            class: "list-row-button listmanager",
                            on: {
                                click: function () {
                                    appList.selectedTable(params.row.TableName);
                                }
                            }
                        })
                    ]);
                }
            }
        ],
        tableData: [],
        selectionRows: null,
        pageTotal: 0,
        pageSize: 1000,//由于后端没有处理分页,所以设置为1000,避免产生分页的情况
        pageNum: 1,
        listHeight: ListPageUtility.DefaultListHeight()
    },
    methods: {
        <!--绑定默认数据-->
        bindDataSource:function() {
            AjaxUtility.Get(this.acInterface.getDataSourceConfigUrl, {}, function (result) {
                //console.log(result);
                //debugger;
                this.dataSource=result.data.dataSourceSingleVoList;
            },this);
        },
        bindPackage:function(){
            AjaxUtility.Get(this.acInterface.getPackageConfigUrl, {}, function (result) {
                //console.log(result);
                this.package=result.data.packageSingleBOList;
            },this);
        },
        changeDataSource:function(dataSourceId){
            //alert(dataSourceId);
            this.reloadData();
        },
        beginGenerateCode: function () {
            if (this.formValidate.tableName == "") {
                DialogUtility.AlertText("请先选定表!");
                return false;
            }
            if (this.formValidate.packageType == "") {
                DialogUtility.AlertText("请先选定包名类型!");
                return false;
            }
            //var _self = this;
            this.codeIsGenerateing = true;
            AjaxUtility.Post(this.acInterface.codeGenerateUrl, this.formValidate, function (result) {
                if (result.success) {
                    this.generateCode.EntityContent = result.data.EntityContent;
                    this.generateCode.DaoContent = result.data.DaoContent;
                    this.generateCode.MapperACContent = result.data.MapperACContent;
                    this.generateCode.MapperEXContent = result.data.MapperEXContent;
                    this.generateCode.IServiceContent = "//逻辑接口\n" + result.data.IServiceContent + "\n\n//逻辑实现类\n" + result.data.ServiceImplContent;
                    //_self.generateCode.ServiceImplContent = result.data.ServiceImplContent;
                    this.generateCode.EntityWithBLOBContent = result.data.EntityWithBLOBContent;
                    this.generateCode.CodeFragmentContent = result.data.CodeFragmentContent;
                } else {
                    DialogUtility.AlertError(window, DialogUtility.DialogAlertId, {}, result.message, function () {

                    });
                }
                this.codeIsGenerateing = false;
            }, this);
        },
        <!--List-->
        selectionChange: function (selection) {
            this.selectionRows = selection;
        },
        reloadData: function () {
            ListPageUtility.IViewTableLoadDataSearch(this.acInterface.getTableListUrl, this.pageNum, this.pageSize, null, this, this.idFieldName, true, null,null,{
                searchTableName:this.searchTableName,
                dataSourceId:this.selectedDataSourceId
            });
            //this.selectionRows=null;
        },
        selectedTable: function (tableName) {
            this.formValidate.tableName = tableName;
            var _self = this;
            _self.formValidate.orderFieldName = "";
            _self.formValidate.statusFieldName = "";
            _self.formValidate.dataSourceId = this.selectedDataSourceId;
            AjaxUtility.Post(this.acInterface.getTableFieldsUrl, this.formValidate, function (result) {
                if (result.success) {
                    for (var i = 0; i < result.data.length; i++) {
                        var field = result.data[i];
                        if (field.fieldName.toUpperCase().indexOf("ORDER") >= 0) {
                            _self.formValidate.orderFieldName = field.fieldName;
                        }
                        if (field.fieldName.toUpperCase().indexOf("STATUS") >= 0) {
                            _self.formValidate.statusFieldName = field.fieldName;
                        }
                    }
                } else {
                    DialogUtility.AlertError(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                    });
                }
            }, "json");
        },
        changePage: function (pageNum) {
            this.pageNum = pageNum;
            this.reloadData();
            this.selectionRows = null;
        },
        changePackage:function(packageName){
            for(var i=0;i<this.package.length;i++){
                if(this.package[i].name==packageName){
                    this.selectedPackage=this.package[i];
                }
            }
        },
        search: function () {
            this.pageNum = 1;
            this.reloadData();
        },
        searchTable: function () {
            this.pageNum = 1;
            this.reloadData();
        }
    }
});</script>
</body>
</html>