<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.files.dao.FileInfoMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TFS_FILE_INFO ORDER by FILE_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TFS_FILE_INFO ORDER by FILE_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from TFS_FILE_INFO</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(FILE_ORDER_NUM) is null then 1 else max(FILE_ORDER_NUM)+1 end ORDERNUM from TFS_FILE_INFO</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TFS_FILE_INFO<where>
        <if test="fileCreatorId !=null and fileCreatorId !=''"> and FILE_CREATOR_ID like #{fileCreatorId} </if>
        <if test="fileCreatorName !=null and fileCreatorName !=''"> and FILE_CREATOR_NAME like #{fileCreatorName} </if>
        <if test="fileName !=null and fileName !=''"> and FILE_NAME like #{fileName} </if>
        <if test="fileStoreType !=null and fileStoreType !=''"> and FILE_STORE_TYPE like #{fileStoreType} </if>
        <if test="fileStorePath !=null and fileStorePath !=''"> and FILE_STORE_PATH like #{fileStorePath} </if>
        <if test="fileStoreName !=null and fileStoreName !=''"> and FILE_STORE_NAME like #{fileStoreName} </if>
        <if test="fileOrganId !=null and fileOrganId !=''"> and FILE_ORGAN_ID like #{fileOrganId} </if>
        <if test="fileOrganName !=null and fileOrganName !=''"> and FILE_ORGAN_NAME like #{fileOrganName} </if>
        <if test="fileExtension !=null and fileExtension !=''"> and FILE_EXTENSION like #{fileExtension} </if>
        <if test="fileDescription !=null and fileDescription !=''"> and FILE_DESCRIPTION like #{fileDescription} </if>
        <if test="fileStatus !=null and fileStatus !=''"> and FILE_STATUS like #{fileStatus} </if>
        <if test="fileCategory !=null and fileCategory !=''"> and FILE_CATEGORY like #{fileCategory} </if>
        <if test="fileHashCode !=null and fileHashCode !=''"> and FILE_HASH_CODE like #{fileHashCode} </if>
        <if test="fileGroupId !=null and fileGroupId !=''"> and FILE_GROUP_ID like #{fileGroupId} </if>
        <if test="fileCode !=null and fileCode !=''"> and FILE_CODE like #{fileCode} </if>
        <if test="fileCaption !=null and fileCaption !=''"> and FILE_CAPTION like #{fileCaption} </if>
    </where>ORDER by FILE_ORDER_NUM DESC</select>
    <select id="selectMaxVersion" resultType="int">
        select case when max(FILE_VERSION) is null then 0 else  max(FILE_VERSION) end from TFS_FILE_INFO where FILE_ID in (select REF_FILE_ID from TFS_FILE_REF where REF_OBJ_ID=#{objId} and REF_OBJ_TYPE=#{objName})
    </select>
    <select id="selectMaxCodeByObjectId" resultType="string">
        select case when max(FILE_CODE) is null then 0 else  max(FILE_CODE) end from TFS_FILE_INFO where FILE_ID in (select REF_FILE_ID from TFS_FILE_REF where REF_OBJ_ID=#{objId})
    </select>
    <select id="selectVersionFileInfo" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TFS_FILE_INFO where FILE_ID in (select REF_FILE_ID from TFS_FILE_REF where REF_OBJ_ID=#{objId} and REF_OBJ_TYPE=#{objName}) and FILE_VERSION=#{version}
    </select>
    <select id="selectFileInfoList" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TFS_FILE_INFO where FILE_ID in (select REF_FILE_ID from TFS_FILE_REF where REF_OBJ_ID=#{objId} and REF_OBJ_TYPE=#{objName}) and FILE_VERSION=#{version}
    </select>

    <select id="selectFileInfoListByObjectId" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TFS_FILE_INFO where FILE_ID in (select REF_FILE_ID from TFS_FILE_REF where REF_OBJ_ID=#{objId}) and FILE_CATEGORY like #{category} order by FILE_ORDER_NUM asc
    </select>

    <select id="selectImageFileInfoList" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TFS_FILE_INFO where FILE_ID in (select REF_FILE_ID from TFS_FILE_REF where REF_OBJ_ID=#{objId}) and FILE_CATEGORY like #{category} and FILE_EXTENSION in ('jpg','png','gif','bmp','webp') order by FILE_ORDER_NUM asc
    </select>
</mapper>
