@charset "utf-8";
/* CSS Document */

html, body, form, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei', Arial, Verdana, sans-serif;
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #ececec;
}

a {
    text-decoration: none;
    outline: none;
}

a, a:focus, a:hover {
    color: #666;
}

ul, ol, li {
    list-style: outside none none;
}

img {
    border: 0 none;
}

table {
    border-collapse: collapse;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
}

.clearfix::before, .clearfix::after, .container_12::before, .container_12::after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
}

.overx {
    overflow-x: auto;
}

.header {
    width: 100%;
    height: 106px;
    background: url(../Images/bg_top.png) repeat-x;
    position: absolute;
    top: 0;
    z-index: 100;
    zoom: 1;
}

.logosys {
    width: 365px;
    height: 90px;
    background: url(../Images/logo_1.png) no-repeat 50px 5px;
    float: left;
    line-height: 20em;
    overflow: hidden;
}

.toolbar-c {
    min-width: 670px;
    height: 35px;
    padding-top: 5px;
    float: right;
}

.searchbar {
    margin: 24px 10px 0 0;
    float: left;
}

.searchbox {
    width: 280px;
    height: 36px;
    line-height: 36px;
    padding: 3px 10px;
    background: #efefef;
    border: 0 none;
    outline: none;
    color: #999999;
    float: left;
    background: url(../Images/search.jpg) no-repeat;
    box-sizing: border-box;
}

.searchbtn {
    width: 37px;
    height: 36px;
    border: 0 none;
    float: left;
    margin-left: -40px;
    cursor: pointer;
    outline: none;
    line-height: 20em;
    overflow: hidden;
    background: url(../Images/btn_search.png) no-repeat center center;
    opacity: 0.6;
}

.searchbtn:hover {
    opacity: 1.0;
}

.topmenu {
    width: 300px;
    height: 28px;
    position: absolute;
    right: 100px;
    top: 33px;
    padding-left: 28px;
    line-height: 26px;
}

.topmenu span {
    margin: 0 4px;
}

.topms {
    width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    padding-right: 20px;
}

.topmenu span a {
    color: #666;
}

.topmenu span a:hover {
    color: #003399;
    cursor: pointer;
}

.topms a#m1 {
    background: url(../Images/arr_down_top.png) no-repeat right;
    background-image: none\9;
    padding-right: 15px;
    text-decoration: none;
}

.topmenu span.usersty {
    width: 48px;
    height: 48px;
    background: url(../Images/bg_headport.png) no-repeat;
    padding-left: 18px;
    color: #FFF;
    line-height: 48px;
    font-size: 24px;
    display: block;
    float: right;
    margin-top: -12px;
    padding-left: 12px
}

.topmenu dl {
    position: absolute;
    visibility: hidden;
    width: auto;
    z-index: 110;
    margin-top: 1px;
    box-shadow: 2px 2px 10px #ddd;
    border: 1px solid #eeeeee;
}

.topmenu dl#ms_1 {
    margin-left: 60px;
    width: 130px;
}

.topmenu dd {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 26px;
    white-space: nowrap;
    text-align: left;
    border-bottom: 1px solid #cdcdcd;
}

.topmenu dd a {
    background-image: none;
    background: #FFFFFF;
    display: block;
    color: #333333;
    padding: 2px 10px 4px 10px;
}

.topmenu dd a:hover {
    background: #f4f4f4;
    color: #003399;
    text-decoration: none;
}

b.set_1, b.set_2, b.set_3, b.set_4 {
    background: url(../Images/icons_16_blue.png) 0 0;
    width: 16px;
    height: 16px;
    float: left;
    margin: 6px 16px 0 16px;
}

/*b.sys_2{ background-position:-160px -100px;}*/
b.set_2 {
    background-position: -160px -40px;
}

b.set_3 {
    background-position: -120px -220px;
}

b.set_4 {
    background-position: -140px -60px;
}

.topnav {
	width: 40px;
    height: 48px;
    position: absolute;
    right: 24px;
    top: 22px;
	cursor:pointer;
	line-height:20em;
	overflow:hidden;
	background: url(../Images/ico_nav.png) no-repeat;
}

.mainwraper {
    width: 100%;
    height: 100%;
    margin-top: 90px;
    position: fixed;
    overflow: auto;
}

.leftnav {
    width: 72px;
    height: 100%;
    background: #57a8f4;
    float: left;
    padding-top: 48px;
}

.leftnav li {
    height: 72px;
    line-height: 20em;
    white-space: nowrap;
    overflow: hidden;
}

.nav1 {
    background: url(../Images/leftmenu_desktop.png) no-repeat;
    opacity: 0.75;
}

.nav2 {
    background: url(../Images/leftmenu_zhaoshang.png) no-repeat;
    opacity: 0.75;
}

.nav3 {
    background: url(../Images/leftmenu_xiangmu.png) no-repeat;
    opacity: 0.75;
}

.nav4 {
    background: url(../Images/leftmenu_jingji.png) no-repeat;
    opacity: 0.75;
}

.nav5 {
    background: url(../Images/leftmenu_fuzhu.png) no-repeat;
    opacity: 0.75;
}

.nav6 {
    background: url(../Images/leftmenu_zhengqi.png) no-repeat;
    opacity: 0.75;
}

.leftnav li:hover, #showbtn:hover {
    cursor: pointer;
    opacity: 1.0;
}

.curnav {
    background-color: #FFF;
    background-position: -72px 0;
    opacity: 1.0;
}

#showbtn {
    width: 72px;
    height: 40px;
    margin: -38px 0 0;
    display: none;
    cursor: pointer;
    background: url(../Images/menu_open.png) no-repeat center center;
    opacity: 0.75;
    border-bottom: 1px solid #6db6fb;
}

#hidebtn {
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.sidemenu {
    width: 320px;
    height: 100%;
    background: #FFF;
    float: left;
    margin: 0 12px 0 0;
    padding: 20px;
    overflow-y: auto;
}

.sidemenu h1 {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding: 0 10px 15px 10px;
    box-sizing: border-box;
    width: 270px;
}

dl.subm {
    color: #666;
    margin: 10px 4px 110px 4px;
    width: 260px;
    display: table;
    padding-bottom: 110px \9;
}

.subm dt {
    font-weight: 600;
    margin: 10px 0;
    padding: 6px;
}

.subm dt:hover, .subm dd:hover, .subm .curmenu {
    background: #78bdff;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

.subm dd {
    color: #888;
    margin: 2px 0 2px 10px;
    padding: 0 5px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    background: url(../Images/bg_subm.png) no-repeat 0 center;
    padding-left: 20px;
}

.panel-tool {
    right: 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: right;
}

.panel-tool a {
    display: inline-block;
    height: 20px;
    margin: 0;
    opacity: 0.6;
    vertical-align: top;
    width: 20px;
}

.panel-tool a:hover {
    opacity: 1.0
}

.accordion-collapse {
    background: url(../Images/icon_unfold.png) no-repeat 5px center;
}

.panel-tool-collapse {
    background: url(../Images/icon_fold.png) no-repeat 5px center;
}

.panel-body {
    padding: 0;
    margin-top: -10px;
}

dl.subm dl > dl {
    margin: 0 0 0 20px;
}

dl.subm dl > dd {
    width: 220px;
}

dd.panel-body {
    margin: 5px 0 0 15px;
}

dd > span.panel-tool {
    margin-top: 5px;
}

@-moz-document url-prefix() {
    dd > span.panel-tool {
        margin-top: -25px;
    }
}

.wrap_right {
    margin: 24px 0 0 84px;
}

.cont_left {
    width: 30%;
    float: left;
    height: 100%;
    margin: -26px 0 0 0;
}

.cont_mid {
    width: 52%;
    height: 100%;
    margin: 0 28% 0 30%;
}

.cont_rig {
    width: 18%;
    float: right;
    height: 100%;
    margin: -56px 0 0 0;
}

.cont_rig div.cont_sub {
    border-radius: 0;
    margin-right: 0;
    min-height: 510px;
    min-height: 494px \9;
}

.cont_sub {
    position: relative;
    min-height: 480px;
    max-height: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 2px 2px 10px #ddd;
    margin: 26px 12px 18px 12px;
}

.cont_tit {
    padding: 15px 0px 5px 0px;
    padding-bottom: 0 \9;
    height: 32px;
    box-sizing: border-box;
}

.cont_tit h3 {
    font-size: 16px;
    color: #737373;
    font-weight: normal;
    height: 28px;
    margin: 8px 0 30px 0;
    padding: 0;
    width: 100%;
}

.cont_tit h3 span {
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: url(../Images/tit_blue.png) left no-repeat;
    padding-left: 20px;
    margin-left: 36px;
}

.count {
    background-color: #fe9600;
    border-radius: 3px;
    padding: 1px 10px;
    color: #FFFFFF;
    margin-left: 8px;
    font-size: 13px;
}

.cont_tit h3 span.moresty {
    float: right;
    width: 80px;
    height: 15px;
    margin: 0 10px 0 0;
    padding-left: 0;
    font-weight: normal;
    font-size: 14px;
    background: none;
}

.moresty a:hover, .desktab td a:hover {
    color: #007ddb;
    cursor: pointer;
    text-decoration: none;
}

.tab-bd .moresty {
    margin-right: 0;
}

.popinfo {
    width: 820px;
    min-height: 600px;
    height: 100%;
    display: none;
    position: absolute;
    box-shadow: 2px 2px 10px #555;
    border-radius: 8px;
    background: #FFF;
    z-index: 9999;
    zoom: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.popinfo em.closesty {
    position: absolute;
    right: 22px;
    top: 15px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    background: url(../Images/close.png) no-repeat;
    width: 18px;
    height: 18px;
}

.poptit {
    height: 48px;
    background: #57a8f4;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    padding: 0 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.pw2 {
    width: 676px;
    min-height: 280px;
}

.popinfo span.namesty {
    color: #57a8f4;
    font-weight: 600;
    margin-right: 5px;
}

.bgbox {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 999;
}

ul.quick_icon {
    width: 100%;
    height: 100%;
}

.quick_icon li {
    height: 72px;
    line-height: 72px;
    font-size: 16px;
    padding-left: 108px;
    background: url(../Images/icon_quick.png) no-repeat 36px 0;
}

li#qc_2 {
    background-position: 36px -72px;
}

li#qc_3 {
    background-position: 36px -144px;
}

li#qc_4 {
    background-position: 36px -216px;
}

li#qc_5 {
    background-position: 36px -288px;
}

li#qc_6 {
    background-position: 36px -360px;
}

li#qc_7 {
    background-position: 36px -432px;
}

.quick_icon li:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.contsty {
    margin: 24px 36px;
}

.cont_rig div.contsty {
    margin: 20px 0;
}

.desktab {
    table-layout: fixed;
}

.desktab td, .desktab th, .noborder td {
    height: 48px;
    line-height: 20px;
    color: #666;
    padding: 2px 12px; /*word-break:keep-all; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;*/
}

.trodd th {
    background: #f0f0f0;
    color: #333;
    text-align: left;
}

.thbord th {
    border: 1px solid #dbdbdb;
}

.desktab tr {
    border-bottom: 1px solid #dbdbdb;
}

.desktab tr:last-child {
    border-bottom: 0 none;
}

.desktab tr:hover {
    background-color: #f9f9f9;
}

.desktab a {
    color: #4c4c4c;
}

.tabnorm td {
    border: 1px solid #ededed;
    text-align: center;
    color: #4c4c4c;
}

.tabnorm th {
    border: 1px solid #ededed;
    border-top-width: 0px;
}

.tabnorm tr:hover {
    background: none;
    cursor: none;
}

.bortab td {
    border: 1px solid #e6e6e6;
    text-align: center;
}

.thcent th {
    text-align: center;
}

.height2, .cont_rig div.height2 {
    min-height: 300px;
    margin-top: 24px;
}

h3.years {
    height: 40px;
    line-height: 40px;
    background: #57a8f4;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

a.asel {
    margin: 0 50px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.calendarsty td, .calendarsty th {
    font-size: 20px;
    border: 1px solid #dbdbdb;
    padding: 5px 12px 0 0;
    height: 38px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    vertical-align: top;
    line-height: 20px;
}

.calendarsty th {
    font-weight: normal;
    text-align: center;
    line-height: 36px;
    height: 36px;
}

td.cur_daily {
    background: #f4f4f4;
}

td.nocur {
    color: #bbbbbb;
}

span.mon,span.mon2 {
    border: 1px solid #57a8f4;
    color: #57a8f4;
    border-radius: 10px;
    font-size: 12px;
    padding: 0 4px;
    position: relative;
    margin: 1px 3px;
    float: left;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

span.mon:hover {
    background: #57a8f4;
    color: #FFF;
}

span.exmon {
    width: 24px;
    display: inline-block;
    cursor: pointer;
}

span.labsty {
    background: #57a8f4;
    color: #FFF;
    border: 1px solid #57a8f4;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 5px;
    white-space: nowrap;
}

td div.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: 0;
    height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

/**/

.selbox {
    margin: -36px 30px 15px 5px;
    float: right;
}

.selbox select {
    height: 28px;
    line-height: 28px;
    border: solid 1px #b2b4b1;
    border-radius: 3px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../Images/sel_arrow.png") no-repeat right 3px center transparent;
    padding: 2px 25px 5px 8px;
    margin-left: 10px;
}

/*清除ie的默认选择框样式，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}

.leftbar {
    position: fixed;
    height: 100%;
    z-index: 99;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
    white-space: nowrap;
}

.contwrap {
    /*margin: 24px 24px 0 416px;*/
    position: absolute;
    top: 0px;
    left: 400px;
    bottom: 90px;
    right: 0px;
}

.onewrap .cont_sub {
    margin: 0;
    min-height: 246px;
    width: 100%;
}

.labelbox {
    width: 100%;
    display: inline-block;
}

.labelbox li {
    width: 18%;
    height: 136px;
    float: left;
    margin: 10px 2% 10px 0;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
}

.color1 {
    background: #57a8f4;
}

.color2 {
    background: #7ed430;
}

.color3 {
    background: #7895f5;
}

.color4 {
    background: #fda85c;
}

.color5 {
    background: #576df4;
}

.labelbox li.nocol {
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #ddd;
    color: #666;
}

.labelbox h4 {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 12px;
    margin-bottom: 10px;
    background: url(../Images/line_op15.png) repeat-x bottom;
    box-sizing: border-box;
    font-weight: 500;
}

.labelbox h4 span {
    float: right;
    opacity: 0.7;
}

span.numsty {
    font-size: 40px;
}

.stat {
    font-size: 12px;
    opacity: 0.8;
    text-align: left;
    padding-left: 12px;
    width: 100%;
}

.contwrap .cont_left {
    width: 50%;
    margin-top: -24px;
}

.contwrap .cont_sub {
    margin: 24px 12px 24px 0;
}

.contwr .cont_sub {
    margin: 24px 0 24px 12px;
}

.height3 {
    min-height: 418px;
}

.height4 {
    min-height: 600px;
}

.onewrap .height360 {
    min-height: 360px;
}

.twowrap .cont_left {
    margin-bottom: 0;
    width: 60%;
}

@-moz-document url-prefix() {
    .onewrap {
        margin-bottom: 24px
    }
}

.twowrap .contwr {
    width: 40%;
}

.contwrap .onecont {
    margin: -24px 0 0 0;
    width: 100%;
}

.contwrap .onecont .cont_sub, .contwrap .tabwrap .cont_sub {
    margin-right: 0;
}

.contwrap .tabwrap {
    margin: 0;
    width: 100%;
    float: none;
}

.btn_list {
    /*float:right; */
}

.btn_list input[type="button"] {
    background-color: #57a8f4;
    border: 1px solid #57a8f4;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px 15px;
    text-align: center;
    border-radius: 5px;
}

.btn_list input[type="button"]:hover, input[type="button"].cancelsty:hover {
    background-color: #FFFFFF;
    color: #5891ed;
}

.btn_pl {
    margin: 20px auto;
    display: table;
    float: none;
}

.btn_pl input[type="button"] {
    width: 180px;
    height: 36px;
}

input[type="button"].cancelsty {
    background: none;
    border: 0;
    color: #666;
}

input[type="button"].cancelsty:hover {
    border: 1px solid #57a8f4;
}

.btnline {
    border-top: 1px solid #ededed;
    margin: 10px 36px;
    width: 90%;
}

td input[type="text"], td select {
    border: 1px solid #ccc;
}

.warnbox {
    margin: -36px 10px 15px 5px;
    float: left;
}

.warnbox span.wsp1, .cont_tit h3 span.wsp1 {
    background: url(../Images/cue.png) no-repeat left;
    padding: 0 25px;
}

.warnbox span.wsp2, .wsp2 {
    background: url(../Images/warn.png) no-repeat left;
    padding-left: 25px;
}

.cont_tit h3 span.wsp1, .cont_tit h3 span.addsp {
    color: #888;
    float: right;
    font-weight: normal;
    font-size: 14px;
}

.cont_tit h3 span.addsp {
    background: url(../Images/add.png) no-repeat right;
    height: 19px;
    line-height: 19px;
    padding-right: 28px;
    margin-right: 36px;
}

.cont_tit h3 span.addsp:hover {
    background: url(../Images/add01.png) no-repeat right;
    color: #57a8f4;
    cursor: pointer;
}

.risesty {
    background: url(../Images/rise.png) no-repeat;
    width: 16px;
    height: 16px;
}

.dropsty {
    background: url(../images/drop.png) no-repeat;
    width: 16px;
    height: 16px;
}

.tabsbox {
    width: 31%;
    display: inline-table;
    margin-right: 3%;
}

.tabsbox h4 {
    font-weight: 600;
    color: #333;
    margin: 10px;
}

.newsty {
    background: url(../Images/new.gif) no-repeat;
    width: 32px;
    height: 16px;
    display: inline-block;
}

.cont_tit h3 span.backsty {
    float: right;
    height: 24px;
    width: 24px;
    line-height: 20em;
    overflow: hidden;
    background: url(../Images/return.png) no-repeat;
    margin-top: -4px;
}

.cont_tit h3 span.backsty:hover {
    background: url(../Images/return01.png) no-repeat;
    cursor: pointer;
}

.titbox {
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 33px;
    margin-top: 50px;
}

ul.tabu {
    margin-left: 350px;
    display: inline-block;
}

ul.picu {
    margin: 0 3%;
    float: right;
}

ul.tabu li {
    float: left;
    padding: 0 25px 8px 25px;
    cursor: pointer;
}

ul.tabu li.curtab {
    border-bottom: 2px solid #57a9f5;
}

ul.picu li.gral {
    background: url(../Images/graph.png) no-repeat;
    width: 26px;
    height: 33px;
    padding: 0;
    margin: 0 30px;
}

ul.picu li.txtl {
    background: url(../Images/text.png) no-repeat;
    width: 26px;
    height: 33px;
    padding: 0;
}

ul.picu li.curtab, ul.picu li:hover {
    border-bottom: 0;
    background-position: -26px 0;
    cursor: pointer;
}

.titbox .selbox {
    margin-top: 0;
}

.distab {
    display: table;
    width: 100%;
    padding-bottom: 20px;
}

.sidebox {
    border-right: 1px solid #ddd;
    width: 312px;
    line-height: 1.75;
    display: table-cell;
    vertical-align: top;
}

.txtbox {
    display: table;
    padding: 36px;
    font-size: 12px;
}

.contbox {
    margin-left: 312px;
    padding: 36px 0;
    display: table-cell;
}

a.asty {
    color: #57a8f4;
    cursor: pointer;
}

.leftm1 {
    margin-left: 42px;
}

.leftm2 {
    margin-left: 70px;
}

.selbox .searchbar {
    margin-top: 0;
}

.selbox .searchbox {
    width: 160px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: none;
}

.selbox .searchbtn {
    width: 30px;
    height: 26px;
    background: url(../Images/search.png) no-repeat center center;
    margin-left: -30px;
}

.contbox ul.tabu {
    margin-left: 5%;
}

h3.tith3 {
    color: #57a8f4;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}

.txtsc {
    line-height: 30px;
    padding: 0 36px;
}

.dirlist {
    padding: 10px 20px 50px 36px;
}

.dirlist dt {
    font-weight: 600;
    margin: 15px 0 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    clear: both;
}

.dirlist ol {
    margin: 5px 5px 5px 20px;
}

.dirlist ol li {
    list-style: decimal;
}

.dirlist ol li:hover {
    color: #57a8f4;
    cursor: pointer;
}

.mehide, .upArrow {
    float: right;
    background: url(../Images/arr_more.gif) no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.upArrow {
    background: url(../Images/arrup.gif) no-repeat;
}

span.warnum, span.risnum {
    color: #8fc31f;
    background: url(../Images/drop.png) no-repeat 4px bottom;
    padding-left: 20px;
    white-space: nowrap;
    display: inline-block;
    height: 18px;
}

span.risnum {
    color: #d81e06;
    background: url(../Images/rise.png) no-repeat 5px bottom;
}

span.holdnum {
    background: none;
}

.btnbox {
    border-bottom: 1px solid #ddd;
    padding: 30px 20px 30px 20px;
    margin: 30px 0;
}

.btnbox select, .btnbox input {
    margin-right: 10px;
}

.btnbox table td {
    padding: 0 3px;
}

.txtpop {
    padding: 20px 5%;
    line-height: 1.8;
}

/**气泡**/
.tipbox {
    width: 240px;
    z-index: 100;
    position: absolute;
}

.toptext {
    width: 12px;
    height: 9px;
    margin-left: 20px;
    background: url(../Images/bg_lab.png) no-repeat;
}

.tiptext {
    width: 240px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aad3f9;
    box-shadow: 0px 3px 5px #aad3f9;
    padding: 15px;
    text-align: left;
    margin-top: -1px;
    position: relative;
    z-index: -1;
}

.tiptext .tiptit ul, .tiptext .tiptit li {
    margin: 0;
    padding: 0;
}

.tiptext .tiptit li {
    list-style: none;
    margin: 0 10px 10px 0;
}

.tiptext .tipcont {
    word-wrap: break-word;
    word-break: normal;
}

span.ths6 {
    color: #999;
}

.labelfz li {
    width: 45%;
    color: #FFF;
    background: #70ceed;
    margin: 10px 5% 10px 0;
}

.distab_2 {
    display: table;
}

.distab_2 .sidebox {
    width: 42%;
    border: 0;
}

.distab_2 .contbox {
    margin: 0;
    padding: 0;
}

.contwrap .continv {
    margin-top: 0;
    min-height: 400px;
}

.minwsty {
    min-width: 450px;
}

.gap24 {
    margin-bottom: -24px;
}

.height5 {
    margin: 0 12px 0 0;
    height: 516px;
}

.height5 .contsty {
    height: 380px;
    overflow: hidden;
}

.height9 {
    height: 940px;
}

.height9 .contsty {
    height: 840px;
    overflow: hidden;
}

/*.shortcut { width:90%; height:400px; }
.scrbox { height:400px; float:left; width:85%; overflow: hidden; position:relative; }
.scroll_list{ width:10000em; position:absolute; }
span.next { float:right; width:20px; height:23px; margin:-170px -20px 0 0; background:url(../images/arr_right.png) no-repeat 2px 0;}*/
ul.tabmap {
    float: right;
    display: inline-block;
    margin: 0 30px;
}

ul.tabmap li {
    float: left;
    padding: 0 15px;
    background: url(../Images/changing-over.png) no-repeat right;
}

ul.tabmap li.active, ul.tabmap li:hover {
    color: #57a8f4;
    cursor: pointer;
}

ul.tab-bd li {
    display: none;
}

ul.tab-bd li img {
    border: 2px solid #70ceed
}

span.moresty {
    float: right;
    margin-right: 36px;
}

span.areamore {
    float: none;
    padding-right: 20px;
    background: url(../Images/more_down.png) no-repeat right;
    display: inline-block;
}

.tabsty td {
    padding: 6px 3px;
}

.ths4 {
    font-weight: 600;
}

.checksty label {
    margin: 0 25px 0 5px;
    font-weight: 500;
}

.padb30 {
    padding-bottom: 30px;
}

span.mon2 {
    border: 1px solid #fb7773;
    color: #fb7773;
}

span.mon2:hover {
    background: #fb7773;
    color: #fff;
}

.addevent {
    font-size: 16px;
    right: 50px;
    position: absolute;
    cursor: pointer;

}